---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import WhatIsIt from "../components/WhatIsIt.astro";
import Ethos from "../components/Ethos.astro";
import Pillars from "../components/Pillars.astro";
import Horizon from "../components/Horizon.astro";
import Waitlist from "../components/Waitlist.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <Ethos />
    <Pillars />
    <WhatIsIt />
    <Horizon />
    <Waitlist />
    <Footer />
  </main>
</Layout>
